header {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: var(--pico-background-color);
}

.header-logo {
  width: 60px;
  height: auto;
  border-radius: 50%;
  will-change: filter;
  transition: filter 300ms;
}

.header-logo:hover {
  filter: drop-shadow(0 0 0.5em var(--pico-color-yellow-100));
}

#theme-toggle {
  color: var(--pico-contrast);
}

.hero-content img {
  /* max-width: 25%; */
  width: clamp(20%, 30%, 300px);
  height: auto;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--pico-typography-spacing-vertical);
}

.hero-content h1 {
  text-align: center;
  margin-bottom: var(--pico-typography-spacing-vertical);
}

.hero-content {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.about-text h2 {
  text-align: center;
  margin-bottom: var(--pico-typography-spacing-vertical);
}

.button-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
