header {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: var(--pico-background-color);
}

.header-logo {
  width: 60px;
  height: auto;
  border-radius: 50%;
  will-change: filter;
  transition: filter 300ms;
}

.header-logo:hover {
  filter: drop-shadow(0 0 0.5em var(--pico-color-yellow-100));
}

#theme-toggle {
  color: var(--pico-contrast);
}

h1,
h2 {
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left img {
  border-radius: var(--pico-border-radius);
  border-color: var(--pico-secondary-border);
  border-style: solid;
  border-width: var(--pico-border-width);
}

a img {
  width: 1em;
  height: 1em;
}
